.containerEdit{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%; /* Adjust based on your layout */
    color: white;

}

.stickyButtonContainer {
    position: fixed;
    top: 80px; /* Adjust based on your header's height */
    right: 200px; /* Distance from the right edge */
    z-index: 1000; /* Ensures the button stays above other content */
    display: flex;
    gap: 10px; /* Space between buttons */
}

.controllButtonEdit{
    cursor: pointer;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #ffffff;
    font-weight: bold;
    color: #2b2b2d;
    border: none;
    border-radius: 8px;
}

.controllButtons{
    cursor: pointer;
    padding: 12px 24px;
    background-color: #c5ae61;
    border: none;
    border-radius: 26px;
}


.modalOverlayPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay for better focus */
    z-index: 100; /* High z-index to ensure it's on top */
}

.modalContentPopup {
    width: 300px;
    height: 150px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: modalFadeIn 0.3s ease-out forwards;
}

@keyframes modalFadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popupMessage {
    color: #333;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.closeButtonPopup {
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f60000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.closeButtonPopup:hover {
    background-color: #d00000;
}



.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* Darker overlay for more focus on modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Ensure it's above other content */
}

.modalContent {
    width: 90%; /* Responsive width */
    max-width: 500px; /* Maximum width */
    background-color: #333; /* Dark theme background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between elements */
    color: #FFF; /* Light text for contrast */
}

.modalContent p {
    font-size: 16px; /* Readable text size */
    line-height: 1.4; /* Improved readability */
    margin: 0; /* Reset margins for consistent spacing */
}

.modalContent button {
    padding: 10px 20px; /* Adequate padding for tap targets */
    border: none; /* Remove default borders */
    border-radius: 5px; /* Rounded corners for modern feel */
    font-weight: 600; /* Bold text for button labels */
    cursor: pointer; /* Cursor pointer for interactive elements */
    transition: background-color 0.2s; /* Smooth transition for hover effects */
}

.modalContent button:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}

/* Specific button styles for Yes/No actions */
.modalContent button:first-child {
    background-color: #4CAF50; /* Confirmatory actions in green */
    color: white;
}

.modalContent button:last-child {
    background-color: #f44336; /* Cancellation actions in red */
    color: white;
    margin-left: auto; /* Push the No button to the right */
}


.editButton, .discardButton , .saveButton {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 5px; /* Space between icon and text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF; /* Text color */
    font-size: 14px;
}

.editButton {
    background-color: #ad974f; /* Green background for edit/save */
}

.editButton:hover {
    background-color: #c5ae61; /* Green background for edit/save */
}

.discardButton {
    background-color: #8c8c8c; /* Red background for discard */
}

.discardButton:hover {
    background-color: #7a7a7a; /* Red background for discard */
}

.saveButton{
    background-color: #ad974f;
}

.saveButton:hover{
    background-color: #c5ae61;
}

.doubleSections{

    margin-top: 80px;
    display: flex;
    gap: 250px;
}

.section{
    width: 400px;
}

.sectionRoles{
    margin-top: 32px;
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    padding: 80px 0px;
    background: #221F1F; /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
}


.submissionMessageContainer {
    text-align: center;
    padding: 2rem;
    max-width: 600px; /* Adjust based on your preference */
    margin: 0 auto; /* Center the container */
}

.submissionMessageTitle {
    color: #fff;
    margin-bottom: 1rem;
}

.submissionMessageText {
    color: #ccc; /* Lighter text color for better readability */
    font-size: 16px; /* Adjust based on your preference */
}


.form {
    width: 100%;
    max-width: 400px; /* Adjust the form width as needed */
    padding: 2rem;
    margin-top: 2rem;
}

.inputGroup {
    margin-bottom: 1rem;
    margin-top:2rem;
}


.inputGroup {
    margin-bottom: 1rem;
    margin-top:2rem;
}

.inputGroup label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 0.8rem;
}

/* page.module.css */
.inputPlaceholder::placeholder {
    color: #909090; /* Change color as needed */
    opacity: 1; /* For Firefox */
}

/* Add the rest of your styles here */


.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #606060; /* Adjust border color as needed */
    background: #221F1F; /* Adjust input background color as needed */
    color: #e3e3e3;
}

.inputFieldTextBox{
    margin-left: 14px;
}

.helpText{
    font-size: 10px;
    color: #9f9f9f;
}

.nextButton {
    width: 100%;
    padding: 1rem;
    background-color: #ad974f; /* Adjust button background color as needed */
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 4rem;
}

.nextButton:hover {
    background-color: #c5ae61; /* Darken button color on hover */
}

.submitGroup {
    text-align: center;
}

/* Terms of service text */
.terms {
    font-size: 0.75rem;
    text-align: center;
    color: #aaa; /* Lighter text color for the small print */
    margin-top: 2rem;
}

.inputGroup input::placeholder,
.inputGroup select::placeholder { /* This targets select placeholders in some browsers */
    color: #888; /* Your desired placeholder color */
    opacity: 1; /* For Firefox */
}

/* If you want to target specific input types or classes, you can do that too */
.inputGroup input[type="text"]::placeholder {
    color: #888;
}

.heading{
    font-weight: normal;
    margin-top: 1rem;
}

/* STEP 2 */
.checkboxGroupFirst {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 2rem;

}

.checkboxGroupFirst label {
    padding: 0.7rem 1rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    font-size: 13px;
    border:1px solid #606060;
}

.checkboxGroupFirst input[type="checkbox"] {
    margin-right: 0.5rem;

}

.checkboxGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

}

.checkboxGroup label {
    padding: 0.7rem 1rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    font-size: 13px;
    border:1px solid #606060;
}

.checkboxGroup input[type="checkbox"] {
    margin-right: 0.5rem;

}

.textareaGroup {
    margin-bottom: 1.5rem;
}

.textareaGroup textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #606060;
    background: #221F1F;
    color: #e3e3e3;
    resize: vertical;
    min-height: 100px; /* Adjust the height of the textarea */
}

.fileUploadContainer {
    border: 2px dashed #888;
    border-radius: 4px;
    height: 170px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.dragDropText{
    margin-top: 16px;
    font-size: 10px;
}

.fileUploadContainer input[type="file"] {
    display: none; /* Hide the default file input */
}

.fileUploadContainer p {
    margin-bottom: 0.5rem;
}

.browseFilesButton {
    background-color: #ad974f;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.browseFilesButton:hover {
    background-color: #c5ae61;
}

/* Adjust the following as needed to match your design: */
.fileUploadContainer {
    background: #333; /* File upload section background */
    color: #e3e3e3; /* Text color inside the file upload section */
}

.addExperienceButton {
    width: 40px; /* Increased to accommodate padding and border */
    height: 40px; /* Same as width for a square appearance */
    background-color: #4b8baf; /* Green background, or choose your color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 50%; /* Circular shape */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust the size of the '+' sign */
    line-height: 20px; /* Adjust based on your font size for vertical alignment */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
}

.addExperienceButton:hover {
    background-color: #367c39; /* Darker shade of green on hover */
    transform: scale(1.1); /* Slightly larger on hover for a subtle effect */
}

.workExperiencesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;

}

.workExperienceBlock {
    position: relative; /* Establish relative positioning */
    display: flex;
    flex-direction: column;
    width: fit-content;
    background: transparent;
    border: 1px solid #606060;
    border-radius: 6px;
    gap: 20px;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 1rem;
    color: white;
    /* Fixed height can be set if needed, otherwise it will grow with content */
}

.removeButton {
    position: absolute; /* Position the button absolutely within .workExperienceBlock */
    top: 0.5rem; /* Position from the top */
    right: 0.5rem; /* Position from the right */
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
}

.inputRow {
    display: flex;
    align-items: center; /* Align the label and input on their baseline */
    margin-bottom: 1rem;
}

.inputLabel {
    font-weight: bold;
    margin-right: 0.5rem; /* Space between label and input */
    font-size: 11px;
    width: 68px;
    white-space: nowrap; /* Prevent the label from wrapping */
    display: flex;
    align-self: flex-start;
}

.fileUploadLabel{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-top: 32px;
    margin-bottom: 0.8rem;
}

.checkboxLabelWorkingPresent{
    margin-top: 10px;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
}
.checkboxWorkingHere{
    font-size: 11px;
    margin-left: 40px;
}

.label{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 0.8rem;
}

.workExperienceBlock input {
    flex-grow: 1; /* Input takes up remaining space */
    background: transparent; /* No background */
    border: none; /* No border */
    max-width: 180px;
    border-bottom: 1px solid #CCCCCC; /* Light grey bottom border */
    color: #CCCCCC; /* Light grey text color */
    padding: 0.3rem 0; /* Padding on top and bottom only */
    margin-left: 0.5rem; /* Space between label and input */
}

.workExperienceBlock button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    margin-right: 0;
    align-self: flex-end;
}

.addButton {
    background-color: transparent;
    border: 1px solid #A9A9A9;
    color: white;
    padding: 0.5rem;
    border-radius: 24px;
    margin-top: 0.8rem;
    cursor: pointer;
    width: 100%;
}

.addButton:hover {
    background: #1C1C1C;
}

.addButton::before {
    content: "+";
    /* Additional styling for the '+' can go here */
}

/* Placeholder color */
.workExperienceBlock input::placeholder {
    color: #666; /* Darker grey placeholder text */
}

.workExperienceBlock input:focus {
    border-bottom: 2px solid #FFFFFF; /* Highlight the bottom border */
    outline: none; /* Remove the default focus outline */
    color: #FFFFFF; /* Optionally change the text color */
    /* Optionally change the background */
}

/* If you also want to add a focus style for checkboxes or other input types, you can do so like this: */
.workExperienceBlock input[type='checkbox']:focus {
    /* Your styles for focused checkboxes */
}

/* Similarly, for file upload input: */
.fileInput:focus {
    /* Your styles for focused file inputs */
}

/* Add focus styles for textareas as well */
.textarea:focus {
    border-color: #606060; /* Change border color on focus */
    background: #1C1C1C; /* Optionally change the background */
    color: #FFFFFF; /* Optionally change the text color */
}