/* signin.module.css */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left, .right {
    flex: 1 1 50%; /* Take up half of the space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left {
    background-color: #ad974f; /* Or you can specify a color or leave it if you want it completely blank */
}


.right {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 30px; /* Adjust based on your design */
    padding-bottom: 170px;
    text-align: center; /* Centers the text */
}

.marketingContent{
    padding: 4rem;
}

.marketingContent h1 {
    font-size: 4em;
    text-align: left;
    margin-bottom: 20px; /* Spacing between elements */
}

.marketingContent p {
    font-size: 1em; /* Adjust based on your design */
    margin-bottom: 10px; /* Spacing between elements */
    text-align: left;
}

.smallText {
    font-size: 0.8em; /* Smaller text for the secondary information */
    opacity: 0.7; /* Less emphasis on this text */
}


/* For smaller screens, make right section take full width and potentially hide the left */
@media (max-width: 768px) {
    .left {
        display: none; /* Hide the left section on smaller screens */
    }
    .right {
        flex-basis: 100%; /* The right section takes the full width on smaller screens */
    }
}

.formGroup{
    width: 100%;
}

.signupForm {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.signupForm h2 {
    font-size: 36px;
    color: #fff;
}

.signupForm label {
    font-size: 12px;
    margin: 10px 0 5px;
}

.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="tel"] {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px; /* Adds some space below the inputs */
}

.signupForm button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #221F1F; /* Using CSS variable for consistency */
    color: white;
    border: none;
    width: 342px;
    border-radius: 5px;
    margin-top: 24px;
}

.signupForm button:hover {
    filter: brightness(126%); /* Makes the button 10% brighter on hover */
}

.input{
    height: 33px;
    width: 336px;
}

.loginText{
    font-size: 12px;
    width: 100%;
    margin-top: 24px;
    text-align: center;
}

.loginText a{
    color:var(--color-primary); ;
}


.loginText a:hover{
    filter: brightness(76%);
}

.progressBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 2px;
}

.progressBar {
    height: 4px;
    background-color: #4CAF50; /* Adjust the color as needed */
    width: 0; /* Initial width */
    border-radius: 2px;
}

.progressBarContainer {
    width:86%;
    background-color: #f3f3f3;
    height: 4px; /* Set the height of your progress bar */
    overflow: hidden; /* Ensure the width animation is contained within the bar */
}

@keyframes fillBar {
    from { width: 0; }
    to { width: 100%; }
}

.progressBarStart {
    height: 4px;
    background-color: #6e6e6e; /* Adjust the color as needed */
    animation: fillBar 5s linear forwards; /* Adjust the time to match your interval */
}

.progressBarReset {
    height: 4px;
    background-color: #4CAF50;
    width: 0%; /* Reset the progress bar */
}

