.stepIndicators {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .stepIndicator {
    width: 30px; /* Adjust size */
    height: 30px; /* Adjust size */
    border-radius: 50%;
    background-color: #ccc; /* Non-active color */
    transition: background-color 0.3s;
  }
  
  .activeStep {
    background-color: #ad974f; /* Active color */
  }